body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
  margin: .3rem;
  justify-content: center;
}
.container {
  display: grid;
    gap: 2px;
    width: 960px;
}

.square:hover{
    transition: background 0.2s ease;

}
.square {
    border: 1px solid black;
  color: red;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  
}

button {
  color: saddlebrown;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
button:hover {
  transform: scaleY(1.2);
  transform: scaleX(1.2);
  background-color: yellow;
  border: none;
}
